.content {
  display: flex;
  flex-direction: row;

  &-avatar {
    width: 35%;
    & img {
      width: 100%;
    }
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
  &-info {
    margin-left: 10px;
    width: 100%;
    &--header {
      font-weight: 900;
    }
  }
}
