<mat-dialog-content class="mat-typography">
  <div class="content">
    <div class="content-avatar">
      <img [src]="user.avatar_url" [alt]="user.login">
    </div>
    <div class="content-info">
      <p>
        <span class="content-info--header">Login:</span>
        {{ user.login }}
      </p>
      <p>
        <span class="content-info--header">Type:</span>
        {{ user.type }}
      </p>
      <p>
        <span class="content-info--header">Url:</span>
        <a [routerLink]="['/repositories', user.login]" mat-dialog-close> {{user.url}}</a>
      </p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
