
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test-gis-art-primary: mat.define-palette(mat.$indigo-palette);
$test-gis-art-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test-gis-art-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$test-gis-art-theme: mat.define-light-theme((
  color: (
    primary: $test-gis-art-primary,
    accent: $test-gis-art-accent,
    warn: $test-gis-art-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($test-gis-art-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-data {
  font-size: 20px;
  color: rgb(116, 116, 116);
  display: flex;
  justify-content: center;
  font-style: italic;
}

.blur {
  position: absolute;
  width: 100%;
  background: #c0c0c070;
  height: 100%;
  bottom: 0;
  z-index: 1;
  &.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: rgb(193, 9, 135);
}

@media (max-width: 360px) {
  .mat-paginator-container {
    padding: 0;
  }
  .mat-paginator-range-label {
    margin: 0px !important;
  }
  .mat-paginator-page-size {
    margin-right: 0px !important;
  }
}
