<mat-list class="favorites-list" *ngIf="usersFavorites.length; else noData">
  <div mat-subheader>Favorite Users</div>
  <mat-list-item *ngFor="let user of usersFavorites; let i = index;" class="favorites-list-item" >
    <div matListItemLine class="favorites-user">
      <img class="favorites-user--avatar favorites-user--info" [src]="user.avatar_url" alt="">
      <a class="favorites-user--info link" [href]="user.login">{{ user.login }}</a>
      <a class="favorites-user--info link" [routerLink]="['/repositories', user.login]">Repo</a>
      <div class="add-comment">
        <input [class.err-border]="commentFormControl[i].errors" type="text" (blur)="hideBtnAction(i)" [formControl]="commentFormControl[i]" placeholder="Comment" class="add-comment--input">
        <p class="error" *ngIf="commentFormControl[i].errors">
          <span class="error-message" *ngIf="commentFormControl[i].errors?.['maxlength']">Max. length should be 100 characters</span>
          <span class="error-message" *ngIf="commentFormControl[i].errors?.['minlength']">Min. length should be 10 characters</span>
        </p>
        <p class="btns-action" *ngIf="!commentFormControl[i].errors && commentFormControl[i].dirty">
            <button mat-icon-button (click)="saveComment(user.id)">
              <mat-icon>check</mat-icon>
            </button>
        </p>
      </div>
      <button mat-icon-button class="btn-delete" (click)="deleteUser(user.id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<ng-template #noData>
  <div class="no-data">No favorites users</div>
</ng-template>

<div class="blur spinner" *ngIf="isShowSpinner">
  <mat-spinner class="spinner-item"></mat-spinner>
</div>
